.card{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    display: inline-block;
    margin: 30px;
    box-shadow: 0 4px 8px black;
}

img{
    width: 100%;
    border: 2px solid black;
}

.desc{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
}

.card:hover {
    box-shadow: 8px 8px 15px black;
    transition: 0.5s;
}

.desc:hover {
    box-shadow: 5px 5px 20px black;
    transition: 0.5s;
}
